<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}Title{% endblock %}</title>
        <link rel="stylesheet" href="/static/style.css" type="text/css">
    </head>
    <body>
        <h1>{% block header %}Header{% endblock %}</h1>

        <a href="/">Overview</a> | <a href="/volume">Volume</a>  | <a href="/clusters">Clusters</a> | <a href="/authors">Authors</a> | <a href="/terms">Keywords</a> | <a href="/urls">Urls</a> | <a href="/mentions">Mentions</a> | <a href="/hashtags">Hashtags</a>  | <a href="/postings">Postings</a>

        {% block form %}
            <form>
                Keywords: <input name="keywords" type="text" value="{{ keywords }}">
                <input type="submit" value="Submit">
            </form>
        {% endblock %}

        {% block content %}
           <!-- Bla bla -->
        {% endblock %}

    </body>
</html>